*{
    margin: 0px;
    padding: 0px;
    font-size: 17px;
}
#title{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 400px;
    cursor: pointer;
}
#title h1{
    text-align: center;
}

#seleccion a{
    text-decoration: none;
    color: #fff;
    transition: all 300ms ease;
}

#seleccion #a{
    background-color: aqua;

    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 300ms ease;
}

#relleno:hover{
    background-color: rgb(20, 18, 18, 0.6);
    transition: all 300ms ease;
}
#seleccion h3{
    margin-top: 10px;
}
#datos{
    border-radius: 5px;
}
#resultados{
    border-radius: 5px;
}

/* ====== Tablas ====== */
#contTable{
    overflow-x: auto;
}
#table{
    background-color: #ffff;
    color: black;
    border-radius: 5px;
}
/* ====== Fin Tablas ====== */

/* ====== Footer ====== */
footer{
    background-color: blueviolet;
    min-height: 100px;
}
footer p{
    color: #f3f3f3;
    text-align: center;
    
}
#iconos i{
    margin-right: 10px;
    color: #f3f3f3;
}
/* ====== Fin Footer ====== */